# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes
/CREDITS.txt
/LICENSE-Paulscode IBXM Library.txt
/LICENSE-Paulscode SoundSystem CodecIBXM.txt
/LICENSE.txt
/README.txt
/forge-1.12.2-14.23.5.2768-changelog.txt
libs/Tabula-1.12.2-7.1.0.jar
libs/iChunUtil-1.12.2-7.2.2.jar
